html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}


.col::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #b0c3de;
}

/* Firefox */
.col::-moz-scrollbar {
    width: 5px;
}

.col::-moz-scrollbar-thumb {
    background-color: #b0c3de;
}

/* Edge */
.col::-ms-scrollbar {
    width: 5px;
}

.col::-ms-scrollbar-thumb {
    background-color: #b0c3de;
}

.input_modal:placeholder-shown {
    color: #96a0b5;
    font-size: 14px;
}


@media (max-width: 768px) {
    .logo {
        width: 170px;

    }

    .search,
    .range {
        width: 170px;
        display: none;

    }

    .heading {
        font-size: 23px;
    }

    .navbar-buttons {
        display: none
    }

    .side-drawer {
        display: block;
    }

    .form-buttons {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 768px) and (max-width: 1267px) {
    .logo {
        width: 170px;

    }

    .search,
    .range {
        width: 170px;

    }

    .heading {
        font-size: 23px;
    }


    .side-drawer {
        display: none
    }

    .navbar-buttons {
        display: flex;
        gap: 20px;
    }

    .side-drawer {
        display: none;
    }
}

@media (min-width:1268px) {

    .search,
    .range {
        width: 300px;

    }



    .navbar-buttons {
        display: flex;
        gap: 20px;
    }

    .side-drawer {
        display: none;
    }

    .form-buttons {
        margin-right: 50px;
    }

}